@inject IViewLocalizer Localizer
@model UploadFileViewModel

@{
    ViewData["Title"] = Localizer["Details upload file"];
}

<h2 class="pb-2 mb-4 border-bottom">@ViewData["Title"]</h2>

<partial name="_Details" />

<div class="form-group row mainbtn-area">
    <div class="col-sm-12">
        <div class="float-right">
            <a class="btn btn-primary" asp-controller="UploadFiles" asp-action="Download" asp-route-id="@Model.Id">@Localizer["Download"]</a>
        </div>
    </div>
</div>
