@inject IViewLocalizer Localizer
@model UploadFileViewModel

@{
    ViewData["Title"] = Localizer["Edit upload file"];
}

<h2 class="pb-2 mb-4 border-bottom">@ViewData["Title"]</h2>

@if (ViewData["Warning"] is not null)
{
    <div class="alert alert-warning" role="alert">@ViewData["Warning"]</div>
}

<form method="post" enctype="multipart/form-data" role="form" asp-controller="UploadFiles" asp-action="Edit" asp-route-id="@Model.Id">
    <partial name="_Form" />
    <input type="hidden" asp-for="Version" />
    <div class="form-group row mainbtn-area">
        <div class="col-sm-12">
            <div class="float-right">
                <input type="submit" value="@Localizer["Edit"]" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
