@charset "UTF-8";

body,
input {
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.body-content {
    padding-top: 40px;
    padding-bottom: 20px;
}

.mainbtn-area {
    padding-top: 15px;
}
