@{
    ViewData["Title"] = "Home";
}

<h2 class="pb-2 mb-4 border-bottom">@ViewData["Title"]</h2>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="UploadFiles" asp-action="Create">ファイル登録</a>
    <a class="list-group-item list-group-item-action" asp-controller="UploadFiles" asp-action="Index">アップロードファイル一覧</a>
</div>
